html,body
{
	 height: 100%; 
	 font-family: 微軟正黑體;
}
#main
{
	margin-left: 1em;
	margin-right: 2em;
	width: calc(100% - 25em);
	height: 100%;
	overflow-y: scroll;
}
.show_d
{
	font-size: 12pt;
}
.det
{
	font-size: 12pt;
	color: blue;
}
.chose
{
	font-size: 12pt;
}
.cd_text
{
	width: 5em;
	display: inline;
}
.small_img
{
	height: 1.5em;
}
#chat
{
	padding-left: 1em;
	width: 24em;
	position: absolute;
	right: 0;
	background-color: #fcf9f9;
	top: 0;
	height: 100%;
	overflow-y: scroll;
}
.text1 {
	
}
.text0
{

}
.text3
{
	display: table-cell;
	vertical-align: middle;
	
}
.text2 img
{
	height: 1.5em;
	margin-right: 0.2em;
}
.text2
{
	vertical-align: middle;
	display: table;
}
.ved
{
	float: left;
}
#ins_det
{
	float: left;
	height: 500px;
	padding-left: 1em;
	padding-right: 1em;
	width: 30%;
}
#ins_all
{
	height: 550px;
}
.det_label
{
	font-size: 14pt;
	color: blue;
}

.det_val
{
	font-size: 14pt;

}

